.page {
  /* max-width: 820px; */
  margin: 0 auto;
  /* padding: 24px; */
  direction: rtl;
}

.title {
  font-size: 22px;
  font-weight: 800;
  margin: 0 0 12px;
}

.jsonBox {
  background: #111;
  color: #eee;
  padding: 12px;
  border-radius: 8px;
  overflow: auto;
  margin: 0;
}

.buttonList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  font-weight: 700;
}

.btn:active {
  transform: translateY(1px);
}

.primaryButton {
  /* padding: 12px 14px;
  border-radius: 12px;
  border: none;
  font-size: 16px; */
  cursor: pointer;

  display: flex;
  width: 353px;
  height: 56px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--text, #011429);

  color: #fff;
  text-align: center;

  /* buttons */
  font-family: SimplerPro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}

.secondaryButton {
  /* padding: 12px 14px;
  border-radius: 12px;
  border: none;
  font-size: 16px; */
  cursor: pointer;

  display: flex;
  width: 353px;
  height: 56px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border-radius: 30px;
  background: var(--light-blue, #c0deff);
  color: #011429;
  text-align: center;

  /* buttons */
  font-family: SimplerPro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}
